*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne';
}
html, body
{
    height: 100%;
    background: linear-gradient(to bottom, white, rgb(156, 179, 241) 25%, rgb(130, 130, 245) 50%, rgb(219, 219, 250) 75%);
}

.footerApp
{
    display: flex;
    gap : 2%;
    height : 10vh;
    padding: 2px;
    bottom: 0%;
    background-color: rgb(219, 219, 250);
    border : 2px black solid;
    align-items: center;
    justify-content: center;

    position : fixed;
    width: 100vw;
}

.topPage {
    display: flex;
    gap : 50%;
    height: 7vh;
    padding: 2px;
    top: 0;
    background-color: rgb(219, 219, 250);
    border : 2px black solid;
    align-items: center;
    justify-content: center;

    position : fixed;
    width: 100vw;
}

.middlePage, .middlePageOwner
{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 7vh;
    height: calc(100vh - 17vh);
    width: 100vw;
    padding: 0 20px;
}

.sumRent, .sumChores, .sumPayement, .sumRoomates, .sumRentOwner
{
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    width: 30%;                  
    height: 80%;                 /* En gros sa prend sur la hauteur disponible, 80% et c de même pour width */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.sumRoomates, .sumRentOwner
{
    width: 80%;
    height : 30%;
}

.middlePageOwner
{
    flex-direction: column;
}


.loginPart
{
    background-color: aliceblue;
    border : 4px double black;
    border-radius: 12px;
    width : 80vw;
    height : 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    box-shadow: 10px black;
}

.bodyLogin
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

input[type="text"], input[type="password"], input[type="submit"]
{
    width: 50%;
    height: 90%;
    border: 3px double darkblue;
    font-size: larger;
}

.labels
{
    position : relative;
    margin : 10px;
}

.labels .emailIcon
{
    position : absolute;
    padding : 10px;
    pointer-events: none;
}

.emailIcon
{
    position : relative;
    width: 100%;
    max-width: 300px;
}

#email
{
    background-image: url("/image/mail.png");
    background-repeat: no-repeat;
    background-position: -10px center;
    background-size: 50px auto;
    
    text-indent: 50px;
}

#pswrd
{
    background-image: url(/image/lock.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size : 30px auto;
    
    text-indent: 50px;
}

.adminShowOnly
{
    background-color: darkgrey;
    border : 3px double red;
    padding : 5%;
    margin : 0 auto;
    width: fit-content;
}

.buttonFooter
{
    height: 8vh;
    width: 20vh;
    background-color: white;
    border: 2px black solid;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
    box-shadow: 2px black;
}

h1
{
    text-align: center;
}

#hour
{

    border: 2px solid black;
    padding: 2.5vh;
}

#rentButton, #rentButtonOwner
{
    background-image: url("../image/rent.png");
}

#choresButton
{
    background-image: url("../image/todolist.png");
}

#moreButton
{
    background-image: url("../image/home.png");
}

#payementButton
{
    background-image: url("../image/wallet.png");
}

#settingsButton
{
    background-image: url("../image/setting.png");
}

#roomatesButton
{
    background-image: url("../image/roomates.png");
}

#supportButton
{
    background-image: url(../image/placeholder.png);
}

#logout
{
    background-image: url("../image/logout.png");
}
